/* 7. cell 스타일 생성하기 */
.cell-row {
    display: flex; /* 6. 요소를 1행씩 감싸주는 container를 만든 뒤에 이 1행을 한줄로 만들어 준다. */
}

.cell {
    width: 80px;
    border: 1px solid lightgray;
    height: 40px;
    outline: none;
    box-sizing: border-box;
}
.cell.header {
    text-align: center;
    background-color: rgba(143, 223, 143, 0.918);
}
.cell.header.active {
    color:white;
    background-color: blue;
}